html {
    font-family: sans-serif;
}

body {
    /*overflow: hidden;*/
    margin: 50;
}

header {
    background: rgb(12, 141, 7);
    height: 100px;
}

h1 {
    text-align: center;
    color: white;
    line-height: 100px;
    margin: 0;
}

h2 {
    text-align: center;
    color: rgb(19, 22, 230);
    /* line-height: 100px;*/
    margin: 0;
}

.fufs {
    background: hsl(60, 10%, 94%);
}

section {
    display: flex;
}


/*::-webkit-scrollbar*/

.example {
    padding: 5px;
    margin: 5px;
    background-color: #14b82f;
    /* width: 350px;*/
    height: 800px;
    border: 1px dotted black;
    overflow-y: scroll;
    /* Add the ability to scroll */
}


/* Hide scrollbar for Chrome, Safari and Opera */

.example::-webkit-scrollbar {
    display: none;
}


/* Hide scrollbar for IE and Edge */

.example {
    -ms-overflow-style: none;
}

article {
    padding: 10px;
    margin: 10px;
    background: rgb(255, 0, 170);
}

article:nth-of-type(1) {
    flex: 3;
}

article:nth-of-type(2) {
    flex: 1;
}

/*article:nth-of-type(3) {
    flex: 1;
}*/

.button {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    /* outline: none;*/
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.button:hover {
    background-color: #3e8e41
}

.button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

a:hover {
    background-color: #ddd;
    color: black;
}

.previous {
    background-color: #f1f1f1;
    color: black;
}

.next {
    background-color: #4CAF50;
    color: white;
}


/* Container holding the image and the text */

.container {
    position: relative;
   /** text-align: center;*/
    font-size: 20px;
    color: rgb(34, 13, 5);
}


/* Bottom left text */

.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}


/* Top left text */

.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}


/* Top right text */

.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}


/* Bottom right text */

.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}


/* Centered text */

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button1 {
    position: relative;
    background-color: #4CAF50;
    border: none;
    font-size: 42px;
    color: #FFFFFF;
    padding: 20px;
    width: 80px;
    text-align: center;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.button1:after {
    content: "";
    background: #90EE90;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.button1:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.button4 {
    position: relative;
    background-color: #000701;
    /* Green */
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block;*/
    /*display: float;*/
    font-size: 52px;
    margin: 4px 2px;
    cursor: pointer;
}

.button4 {
    border-radius: 12px;
}

.btn {
    border: 2px solid black;
    background-color: #9edb7b;
    color: black;
    padding: 14px 28px;
    font-size: 18px;
    cursor: pointer;
}


/* Green */

.success {
    border-color: #4CAF50;
    color: rgb(81, 61, 197);
}